*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#08111f,
#102842,
#071d32
);

color:white;

overflow:hidden;

}


body::before{

content:"";

position:absolute;

width:500px;
height:500px;

background:
radial-gradient(
#00f7ff33,
transparent
);

top:-100px;
left:-100px;

filter:blur(40px);

}


body::after{

content:"";

position:absolute;

width:400px;
height:400px;

background:
radial-gradient(
#00f7ff22,
transparent
);

right:-100px;
bottom:-100px;

filter:blur(50px);

}


.glass{

width:420px;

padding:40px;

border-radius:25px;

background:
rgba(18,30,48,.7);

border:
1px solid
rgba(0,255,255,.2);

box-shadow:

0 0 25px
rgba(0,255,255,.15);

backdrop-filter:
blur(15px);

text-align:center;

z-index:1;

}


h1{

font-size:38px;

margin-bottom:15px;

letter-spacing:2px;

color:#7ffcff;

text-shadow:

0 0 15px
#00f7ff;

}


.subtitle{

color:#d2e8ff;

margin-bottom:30px;

font-size:17px;

}


.buttonBox{

display:flex;

flex-direction:column;

gap:15px;

}


button{

padding:15px;

border-radius:35px;

border:1px solid
#00f7ff;

background:

rgba(0,255,255,.1);

color:#aefcff;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.4s;

box-shadow:

0 0 15px
rgba(0,255,255,.3);

}


button:hover{

transform:
translateY(-5px);

background:
#00f7ff;

color:black;

box-shadow:

0 0 30px
#00f7ff;

}


input{

width:100%;

padding:18px;

margin:12px 0;

border-radius:35px;

border:1px solid
rgba(0,255,255,.3);

background:
rgba(255,255,255,.08);

color:white;

outline:none;

font-size:16px;

}


input::placeholder{

color:#c4dfff;

}


.card{

margin-top:20px;

padding:20px;

border-radius:20px;

background:
rgba(255,255,255,.05);

border:
1px solid
rgba(0,255,255,.15);

box-shadow:

0 0 20px
rgba(0,255,255,.1);

color:white;

}


h2,h3,p{

margin:10px;

}